<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAknZutdWXFnGS4eJMYvwT49E8nxJmpbhM</string>
	<key>GCM_SENDER_ID</key>
	<string>424834373001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocketdad</string>
	<key>PROJECT_ID</key>
	<string>pocketdad-204bf</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketdad-204bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424834373001:ios:2879db66156cbb94abfd58</string>
</dict>
</plist>